header {
    background-color: #000;
    width: 100%;
    height: 90px;

    nav {
        width: $container-width;
        margin: 0 auto;
        .top {
            ul{
                &.flex{
                    display: flex
                };
                color: #fff;
                li{
                    list-style: none;
                    margin: 0 15px;
                    font-size: 0.8em;
                    margin-top: 10px;
                    opacity: 0.9;
                    i {
                        color: #009CFF;
                        margin-right: 10px;
                        font-size: 1.2em;
                    }
                }
            }
            @include flex-end
        }  
        .bottom {
            &.flex{
                display: flex;
            }
            margin-top: 10px;
            margin-bottom: 10px;
            img {
                width: 80px;
            }
            ul {
                &.flex{
                    display: flex
                };
                color: #fff;
                li{
                    list-style: none;
                    margin: 0 15px;
                    font-size: 0.8em;
                    margin-top: 10px;
                    opacity: 0.9;
                }
            }
        }    
    }
    .jumbo {
        height: 500px;
        background-size: cover;
    }
}